* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner { 
    top: 50px;
    position: relative;
}

.banner img { 
    width: 100%;
    height: 100%;
    animation: baner 1s;
}

@keyframes baner {
    0%{
        transform: translateX(-100%);
        opacity: 0;
        filter:blur(15px);
        
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        filter:blur(0px);
    }
}



.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 5px;
    
    transform: translateX(-50%) translateY(-50%);
}

.banner h2{
    font-size: 10px;
    margin-bottom: 5px;
}

.banner p {
    font-size: 8px;
    margin-right: 150px;
    margin-bottom: 20px;
}



@media screen and (min-width:480px) {
    .banner h2{
        font-size: 10px;
    }
    
    .banner p {
        font-size: 9px;
        margin-right: 200px;
    }
}


@media screen and (min-width:768px){
    .banner{ 
        height: 300px;
        overflow: hidden;
    }

    .banner img {
        height: auto;
    }

    .banner .contenedor {
        margin: 10px;
    }


    .banner h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .banner p{
        font-size: 13px;
        margin-right: 350px;
    }

}


@media screen and (min-width:1024px){

    .banner { 
        height: 500px;
    }

    .banner img {
        margin-top: -50px;
    }
    .banner h2{
        margin-top: -100px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .banner p {
        font-size: 15px;
        margin-right: 450px;
        margin-bottom: 60px;
    }  
}
