footer {
    background-color: black;
}


footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    color: white;
}



.copy { 
    font-size: 20px;
    text-align: center;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    text-decoration: none;  
    color: white;
}




@media screen and (min-width:1024px) {
    .contenedor{
        width: 1000px;
    }
}



@media screen and (min-width:768px){
    .sociales {
        width:auto;
    }

    footer .contenedor{
        justify-content: space-between;
    }
}