@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Mono&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html{ 
    scroll-behavior: smooth;
}


/* Barra de navegacion */
header { 
    width: 100%;
    height: 50px;

    background-color: rgb(77, 108, 165);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
}


#menubar { 
    display: none;
}


header label {
    float: right;

    font-size: 25px;
    margin: 5px;
    
    cursor: pointer;
}

.contenedor { 
    width: 100%;
    margin: auto;
}

header .contenedor h2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header .contenedor h2 {
    float: left;
    margin: 5px;
    animation: texto 2s infinite linear;
}

@keyframes texto {
    0%{
        transform: scale(107%);
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(107%);
    }
}








nav {
    position: absolute;
    top: 50px;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgb(94, 144, 177);
    transform: translateX(-100%);
    transition: .5s all;
}


nav ul{
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;

    height: 50px;
    padding: 15px;

    text-align: center;
    border-bottom: .5px solid rgba(63, 63, 63, 0.596);
    transition: all .5s;
}


nav li ul { 
    display: none;
}

nav li ul {
    
    background-color: rgba(151, 151, 151, 0.925);
    color: white;
}



nav a:hover { 
    color: rgb(255, 255, 255);
}


nav li:hover ul{
    display: block;
}




#menubar:checked ~ nav { 
    transform:translateX(0%);
}



@media screen and (min-width:1024px) {
    nav {
        position: static;

        height: auto;
        width: auto;

        transform: translateX(0);
    }

    nav > ul > li {
        float: right;
    }
    header label {
        display: none;
    }

    nav a {
        border: none;
    }


    .contenedor{
        width: 1000px;
    }
    nav li ul {
        border-bottom-left-radius: 6%;
        border-bottom-right-radius:6%;
    }
}