

/* VIDEO DE REGLAS*/

.contenedor_fix_video {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.videoReglas {
    width: 1000px;
}



/* BOTON HACIA ATRAS PANTALLA SECCION 2 */
#Seccion_2 {
    margin: 0 auto;
    width: 1500px;
}

.back-arrow {
    width: 100px;
}

.contenedor_fix {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}



/* TITULOS DE PAGINA PRINCIPAL*/

@media only screen and (max-width: 820px) {
    .fix_titulo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
}


/* VIDEO NARRACION*/


.fix_contenedor_capitulo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.Video_narracion {
    width: 1000px;

}


/* TEXTO NIVELES DE DIFICULTAD FALTANTES */
.Pollo2 {
    font-size: 27px;
    font-family: 'Press Start 2P';
}

.Pollo3 {
    font-size: 27px;
    font-family: 'Press Start 2P';
}

/* PANTALLA NIVEL:1 - */
@media only screen and (max-width: 390px) {

    /* PRIMERA PANTALLA RESPONSIVE*/

    .Seccion_01 {
        height: 100%;
    }

    /* SWITCH DE CAMBIO DE FONDO */
    .Contenedor_RC {
        width: 15vw;
        height: 7vw;
        left: 40%;
    }

    .Recursos {
        width: 40%;
        height: 100%;
        border-radius: 50%;
        background: white;
        margin-left: 0%;
        transition: 1s;
    }

    .fix_titulo {
        margin: auto 0 0;

    }

    .Nombre {
        text-align: center;
        font-size: 10vw;

    }

    .Texto_Principal {
        text-align: center;
        font-size: 4vw;
        line-height: 20px;

    }


    .Boton {
        margin-top: 30px;
        width: 35vw;
        height: 15vw;
        border-radius: 5%;
        text-align: center;
        font-size: 18px;
    }


    /* ////////////////////////////////////////////////////////////////////////////////////// */

    /* SEGUNDA PANTALLA - REGLAS - RESPONSIVE*/

    .Titulo_Reglas {
        font-size: 5.0vw;
    }

    .contenedor_fix_video {
        margin-top: 0;
        
    }

    .videoReglas {
        width: 350px;
    }

    .Listo {
        margin-top: 20px;
        width: 250px;
        height: 8vh;
        font-size: 20px;
    }


    /* TERCERA PANTALLA - CAPITULO 1 - RESPONSIVE*/

    .fix_contenedor_capitulo1 {
        gap: 60px;
    
    }
    
    .Video_narracion {
        width: 350px;
    
    }
    
    #Seccion_2 {
        margin: 0 auto;
        width: 350px;
    }
    

    .Titulo_historia {
        font-size: 20px;
    }
    .back-arrow {
        width:30px;
    }
    
    
    .contenedor_fix {
        margin-bottom: 30px;
    
    }
    
    .Boton_preparado {
        width: 15rem;
        padding: 20px 0;
        background: linear-gradient(45deg, #000000, #363636, #641592, #363636);
        background-size: 400% 400%;
        animation: animacionFondoBoton 2s infinite;
    }

    @keyframes animacionFondoBoton {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      

    /* TITULO DE "ES HORA DE JUGAR" */
    .Tituloar_Juego_5 {
        font-size: 40px;
        line-height: 50px;
    }

    .Seccion_Juego {
        overflow-x: scroll;
        top: -5%;
    }

    /* ////////////////////////////////////////////////////////////////////////////////////// */


    /* JUEGO NIVEL 1 REPONSIVE */
    .Contenedor {
        width: 350px;
    }

    .Texo {
        font-size: 15px;
    }

    .Pollo {
        font-size: 20px;
    }

    .Play {
        font-size: 10px;
    }

    /* JUEGO NIVEL 2 REPONSIVE */

    .Contenedorlvl2 {
        width: 350px;
    }

    .Texolvl2 {
        font-size: 15px;
    }

    .Pollo2 {
        font-size: 16px;
    }

    .Playlvl2 {
        font-size: 10px;
    }

    /* JUEGO NIVEL 3 REPONSIVE */

    .Contenedorlvl3 {
        width: 350px;
    }

    .Textolvl3 {
        font-size: 15px;
    }

    .Pollo3 {
        font-size: 20px;
    }

    .Playlvl3 {
        font-size: 10px;
    }



    /* ////////////////////////////////////////////////////////////////////////////////////// */



    /* BARRA DE PUNTAJE, TIEMPO, PAUSE / REANUDA - NIVEL 1*/

    .Cabezera {
        gap: 10px;
    }

    .Tiempo {
        font-size: 10px;
    }

    .Puntaje {
        font-size: 10px;
    }

    .Pause {
        padding: 2px;
        width: 15%;
        font-size: 8px;
        text-align: center;
    }

    /* BARRA DE PUNTAJE, TIEMPO, PAUSE / REANUDA - NIVEL 2*/

    .Cabezeralvl2 {
        gap: 10px;
    }

    .Tiempolvl2 {
        font-size: 10px;
    }

    .Puntajelvl2 {
        font-size: 10px;
    }

    .Pauselvl2 {
        padding: 2px;
        width: 15%;
        font-size: 8px;
        text-align: center;
    }

    /* BARRA DE PUNTAJE, TIEMPO, PAUSE / REANUDA - NIVEL 3*/

    .Cabezeralvl3 {
        gap: 10px;
    }

    .Tiempolvl3 {
        font-size: 10px;
    }

    .Puntajelvl3 {
        font-size: 10px;
    }

    .Pauselvl3 {
        padding: 2px;
        width: 15%;
        font-size: 8px;
        text-align: center;
    }



    /* ////////////////////////////////////////////////////////////////////////////////////// */




    /* MENSAJE UNA VEZ ACABADO EL NIVEL - NIVEL 1*/
    .GANASTE_PANTALLA h1 {
        font-size: 20px;
    }

    .GANASTE_PANTALLA h3 {
        font-size: 15px;
    }

    /* MENSAJE UNA VEZ ACABADO EL NIVEL - NIVEL 2*/
    .GanastePantallaLvL2 h1 {
        font-size: 20px;
    }

    .GanastePantallaLvL2 h3 {
        font-size: 15px;
    }






    /* MENSAJE CUANDO EL JUEGO ESTA EN PAUSA - NIVEL 1*/

    .Mensaje_Pause {
        font-size: 30px;
        font-family: 'Press Start 2P';
    }

    /* MENSAJE CUANDO EL JUEGO ESTA EN PAUSA - NIVEL 2*/

    .Mensaje_Pauselvl2 {
        font-size: 30px;
        font-family: 'Press Start 2P';
    }

    /* MENSAJE CUANDO EL JUEGO ESTA EN PAUSA - NIVEL 3*/

    .Mensaje_Pauselvl3 {
        font-size: 30px;
        font-family: 'Press Start 2P';
    }





    /* CREDITOS FINALES - INTEGRANTES DE GRUPO */

    #Creditoslvl3 {
        font-size: 15px;
    }

    #Proximolvl3 {
        font-size: 15px;
    }



    /* SECCION FECHA, HORA , INDICACION DE NIVEL Y BOTON SIGUIENTE NIVEL */

    .Contenedor_LVL {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .Nada {
        width: 90vw;
    }

    /* TITULO  */
    .Nada h2 {
        font-size: 5vw;
        font-weight: bold;
    }

    /* CONTENNIDO */
    .Nada p {}


    /* FECHA Y HORA */


    .Fecha {
        padding: 4%;
    }

    .Fecha p {
        font-size: 20px;
        font-weight: bold;
    }

    .Hora p {
        font-size: 30px;
    }

    #Caja_ULT span {
        font-size: 30px;
    }

    .NEXT {
        margin-top: 20px;
        width: 250px;
        height: 70px;
        display: flex;
        flex-direction: row;
        border-radius: 5%;
    }

    .NEXT h2 {
        font-size: 20px;
    }

}